invokecustomjava/src/main/mule/invokecustomjava.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8037195-b682-4875-be84-300522916dad" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="18e98762-3d93-465b-9648-80755cc8d750" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="invokecustomjavaFlow1" doc:id="d6c08af8-8dec-4c8f-ba8c-9c636c010ea6" >
		<http:listener doc:name="Listener" doc:id="48043371-3d19-4c6f-a67b-c8fac34d35be" config-ref="HTTP_Listener_config1" path="/getSubString"/>
		<set-variable value="Sachin Tendulkar" doc:name="stringValue" doc:id="421752fd-5c19-4573-9ea4-8cdbeb67c1d4" variableName="string" />
		<ee:transform doc:name="Transform Message" doc:id="9b742492-325a-4bb1-bb3b-53e4b727acca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import java!company::TestSubstring

output application/json
---
{
	
"a":TestSubstring::getSubString(vars.string)

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cb72a641-c0e4-4bef-a2e8-c21a82cf6e3e" message="Substring Value is: #[payload]"/>
	</flow>
</mule>
